<div class="button-row" style="text-align: right;">
  <button mat-raised-button (click)="refresh()">Refresh</button>
</div>
<br>
<mat-card style="margin-top: 10px;">
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="newName">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="newAge">
    </mat-form-field>
  </div>
  <div class="button-row" style="text-align: right;">
      <button mat-raised-button color="primary" (click)="create()">Add</button>
  </div>
</mat-card>
<br>
<mat-card *ngFor="let user of users.reverse()" style="margin-top: 10px;">
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="user.name">
    </mat-form-field>
     &nbsp;
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="user.age">
    </mat-form-field>
  </div>
  <div class="button-row" style="text-align: right;">
    <button mat-raised-button color="accent" (click)="save(user)">Edit</button>&nbsp;
    <button mat-raised-button color="warn" (click)="delete(user.id)">Delete</button>
  </div>
</mat-card>